*,
:after,
:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
a:hover,
button:hover {
  -webkit-transition: .2s;
  transition: .2s;
  outline: 0!important;
  outline-color: transparent!important;
  outline-width: 0!important;
  outline-style: none !important;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
li {
  list-style-type: none;
}
select,
input,
textarea,
hr,
fieldset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  resize: none;
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}
input[type='checkbox'],
input[type="radio"] {
  display: none;
}
button {
  cursor: pointer;
  border: none;
  background: none;
}
table,
tr,
th {
  border-collapse: collapse;
  border: none;
}
body {
  min-height: 100vh;
  width: 100%;
}
body.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body.flex .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body.flex .cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body.inline {
  display: inline-block;
}
body.inline > * {
  display: inline-block;
}
body.inline .cols {
  text-align: justify;
}
body.inline .col {
  display: inline-block;
}
body.float {
  margin-left: 2px;
}
body.float .col {
  float: left;
}
body.inline,
body.float {
  font-size: 0;
  position: relative;
}
body.inline main,
body.float main {
  height: calc(100vh - 100px);
  padding-bottom: 100px;
  margin-bottom: 0;
}
body.inline footer,
body.float footer {
  position: absolute;
  bottom: 0;
  left: 0;
}
header {
  height: 100px;
  width: 100%;
  background-color: blue;
}
main {
  width: 100%;
  height: calc(100vh - 200px);
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
  max-width: 1520px;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}
.cols {
  height: 100%;
  min-height: 100%;
  width: calc(100% + 40px);
  margin-left: -20px;
  margin-right: -20px;
}
.col {
  background-color: pink;
  width: calc(100% / 3 - 40px);
  margin: 0 20px;
  height: 100%;
  min-height: 100%;
}
.col:first-child {
  background-color: red;
}
.col:nth-child(2) {
  background-color: brown;
}
footer {
  height: 100px;
  background-color: green;
  margin-top: auto;
  width: 100%;
}
