*,
:after,
:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
a:hover,
button:hover {
  transition: .2s;
  outline: 0!important;
  outline-color: transparent!important;
  outline-width: 0!important;
  outline-style: none !important;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
li {
  list-style-type: none;
}
select,
input,
textarea,
hr,
fieldset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  resize: none;
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}
input[type='checkbox'],
input[type="radio"] {
  display: none;
}
button {
  cursor: pointer;
  border: none;
  background: none;
}
table,
tr,
th {
  border-collapse: collapse;
  border: none;
}
*:hover {
  transition: .2s;
}
h1 {
  width: 100%;
  font-size: 40px;
  font-weight: 700;
}
h2 {
  font-size: 36px;
  font-weight: 700;
}
h3 {
  font-size: 32px;
  font-weight: 700;
}
body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
}
header {
  height: 100px;
  width: 100%;
  background-color: #7474e9;
}
header .container {
  align-items: center;
}
header .header-menu ul {
  display: flex;
}
header .header-menu ul li {
  margin-right: 20px;
  font-size: 20px;
  font-weight: 700;
}
header .user-buttons {
  margin-left: auto;
}
header .button2 {
  font-weight: 700;
}
header .button {
  display: inline-block;
  cursor: pointer;
  margin-left: 20px;
  line-height: 40px;
  height: 40px;
  border-radius: 14px;
  padding: 0 20px;
  background-color: yellow;
  color: #000;
  font-size: 20px;
}
main {
  padding: 90px 0;
  width: 100%;
  min-height: calc(100vh - 200px);
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
  max-width: 1520px;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
}
.cols {
  height: 100%;
  min-height: 100%;
  width: calc(100% + 40px);
  margin-left: -20px;
  margin-right: -20px;
  display: flex;
  flex-wrap: wrap;
}
.col {
  width: calc(100% / 2 - 40px);
  margin: 0 20px;
  height: 100%;
  min-height: 100%;
}
form {
  flex-direction: column;
}
form h3 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
}
form .input-wrap {
  width: 100%;
  margin-top: 25px;
  font-size: 20px;
}
form .input-wrap .image {
  margin-bottom: 30px;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
}
form .input-wrap .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
form h4 {
  margin-bottom: 10px;
}
form .disable {
  pointer-events: none;
  opacity: .5;
}
form input,
form textarea {
  width: 100%;
  padding: 0 30px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  border: 2px solid #7613e8;
}
form input.invalid,
form textarea.invalid {
  border-color: red;
}
form textarea {
  height: 300px;
}
form .checkbox-wrap {
  cursor: pointer;
  margin-right: 14px;
  display: inline-flex;
  align-items: center;
}
form .checkbox-wrap .checkbox-el {
  margin-left: 6px;
  position: relative;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #000;
  display: inline-block;
}
form .checkbox-wrap .checkbox-el:before {
  transition: .2s;
  opacity: 0;
  content: '';
  width: 9px;
  height: 9px;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #6969e0;
  border-radius: 50%;
}
form .checkbox-wrap input:checked + .checkbox-el:before {
  transition: .2s;
  opacity: 1;
}
form button {
  margin-top: 25px;
  transition: .2s;
  padding: 0 30px;
  height: 50px;
  line-height: 50px;
  background-color: #7613e8;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}
form button:hover {
  background-color: #6a11d0;
}
.popup,
.popup-form {
  transition: .4s;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  position: fixed;
  left: 0;
  top: 0;
}
.popup form,
.popup-form form {
  display: flex;
}
.popup__overlay,
.popup-form__overlay {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .6;
  filter: blur(0.4);
}
.popup__window,
.popup-form__window {
  transition: .4s;
  transform: translate(-50%, -50%) scale(0.7);
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 530px;
  max-height: calc(100vh - 140px);
  overflow-y: scroll;
  padding: 50px 40px;
  background-color: #fff;
}
.popup__window .title,
.popup-form__window .title {
  font-size: 30px;
  font-weight: 700;
}
.popup__window .message,
.popup-form__window .message {
  font-size: 20px;
}
.popup__window .close,
.popup-form__window .close {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 10px;
}
.popup__window .close:before,
.popup-form__window .close:before {
  content: 'x';
  display: block;
  font-size: 30px;
  font-weight: 700;
}
.popup.open,
.popup-form.open {
  pointer-events: initial;
  transform: .4s;
  opacity: 1;
  visibility: visible;
}
.popup.open .popup__window,
.popup-form.open .popup__window {
  transition: .4s;
  transform: translate(-50%, -50%) scale(1);
}
.popup-form {
  z-index: 3;
}
footer {
  height: 100px;
  background-color: green;
  margin-top: auto;
  width: 100%;
}
.account-wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
}
.account-wrap__user {
  max-width: 100%;
  width: 430px;
  min-height: 100px;
  position: relative;
  padding-right: 60px;
  padding-bottom: 30px;
  border-bottom: 2px solid #000;
  margin-bottom: 30px;
}
.account-wrap__user .image {
  margin-bottom: 30px;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
}
.account-wrap__user .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.account-wrap__user b {
  color: blue;
}
.account-wrap__user li {
  margin-bottom: 10px;
}
.account-wrap__user li span {
  text-transform: capitalize;
}
.account-wrap__user .button {
  cursor: pointer;
  transition: .2s;
  position: absolute;
  right: 0;
  top: 4px;
  width: 25px;
  height: 25px;
  background-size: 100%;
  background-origin: center;
  background-repeat: no-repeat;
}
.account-wrap__user .button.edit-button {
  background-image: url(../img/edit.png);
  background-size: 80%;
}
.account-wrap__user .button.remove-button {
  background-image: url(../img/remove.png);
  top: 40px;
}
.account-wrap__user .button:hover {
  opacity: .7;
}
.preloader {
  margin: 0 auto;
  display: flex;
  align-items: center;
  font-size: 30px;
}
.preloader:before {
  content: '';
  margin-right: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 4px dashed #000;
  animation: preloader 3s infinite;
}
@keyframes preloader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.about-block {
  margin-top: 40px;
  background: #a9a9f5;
  padding: 30px;
  border-radius: 20px;
}
section.blog form {
  margin-top: 50px;
}
.blog-wrap {
  margin-top: 20px;
  width: 100%;
}
.blog-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 40px);
  margin-left: -20px;
  margin-right: -20px;
}
.blog-list__item {
  position: relative;
  margin-top: 40px;
  width: calc(33.33% - 40px);
  margin-left: 20px;
  margin-right: 20px;
}
.blog-list__item .author {
  position: absolute;
  left: 20px;
  top: 20px;
  color: #fff;
}
.blog-list__item .title {
  margin-top: 20px;
  font-size: 26px;
  font-weight: 700;
}
.blog-list__item .desc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 10px;
}
.blog-list__item .thumbnail {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 200px;
}
.blog-list__item .thumbnail:before {
  z-index: -1;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.blog-list__item .thumbnail img {
  transition: .3s;
  z-index: -2;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.blog-list__item .thumbnail:hover img {
  transition: .3s;
  width: 110%;
  height: 110%;
}
section.blog-single {
  margin-top: -90px;
}
section.blog-single .thumbnail {
  margin-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
  position: relative;
  width: 100%;
  height: 300px;
  color: #ededed;
}
section.blog-single .thumbnail:before {
  z-index: -1;
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
section.blog-single .thumbnail h1 {
  width: auto;
}
section.blog-single .thumbnail img {
  z-index: -2;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
section.blog-single .content {
  width: calc(100% - 400px);
  padding-right: 50px;
  font-size: 22px;
}
section.blog-single .comments {
  width: 400px;
}
section.blog-single .comments-list__item {
  margin-top: 30px;
}
section.blog-single .comments-list__item .author {
  font-weight: 700;
  font-size: 20px;
}
